@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  /* ##### background-color  Variables ##### */
  --bg-color: #8c52ff;
  --bg-white: #fff;
  --bg-light-white: #f5f5f5;

  /* ##### Text-color  Variables ##### */
  --primary-font: "Poppins", sans-serif;
  --text-white: #fff;
  --text-black: #121212;
  --text-danger: #8c52ff;
  --text-gray: #aaa;
  --text-dark-gray: #777;
}

/* ##### Scroll Bar Design ##### */
/* ::-webkit-scrollbar{
  width: 15px;
  height: 15px;
 }
 ::-webkit-scrollbar-thumb{
  background: var(--bg-color);
 } */

.top-navbar {
  width: 100%;
  height: 5vh;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.top-icons {
  margin-left: 45px;
}
.top-icons i {
  font-size: 20px;
  color: rgb(19, 3, 169);
  margin-left: 10px;
  cursor: pointer;
}

.other-links {
  margin-right: 33px;
}

.other-links i {
  font-size: 20px;
  color: rgb(19, 3, 169);
  margin-left: 10px;
  cursor: pointer;
}
btn-outline-success {
  color: aliceblue;
}
@media screen and (max-width: 500px) {
  .top-icons {
    margin-left: 30px;
  }

  .top-icons i {
    font-size: 15px;
  }
}
.other-links i {
  font-size: 15px;
}
@media screen and (max-width: 350px) {
  .top-icons {
    margin-left: 10px;
  }

  .top-icons i {
    font-size: 10px;
  }
  .other-links i {
    font-size: 10px;
  }
  button {
    height: 3vh;
    font-size: 5px;
  }
}

body {
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: var(--text-black);
  overflow-x: hidden;
}

/* ##### Custom CSS Start ##### */
a,
a:hover {
  text-decoration: none;
}
p {
  margin: 0;
}
.btn-danger {
  background: var(--bg-color);
  border-color: var(--bg-color);
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}
.btn-danger:hover {
  color: var(--text-danger);
  border-color: var(--bg-color);
  background: transparent;
}
/* ##### Home CSS Start ##### */
.home .home-banner-1,
.home .home-banner-2,
.home .home-banner-3,
.home .home-banner-4,
.home .home-banner-5,
.home .home-banner-6 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% center;
  min-height: 400px;
  position: relative;
}
.home .home-banner-1 {
  background-image: url(slide1.jpg);
}
.home .home-banner-2 {
  background-image: url(slide2.jpg);
}
.home .home-banner-3 {
  background-image: url(slide3.jpg);
}
.home .home-banner-4 {
  background-image: url(slide1.jpg);
}
.home .home-banner-5 {
  background-image: url(slide2.jpg);
}
.home .home-banner-6 {
  background-image: url(slide3.jpg);
}
.home .home-banner .home-banner-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-100%, -50%);
  color: var(--bg-light-white);
}
.home .home-banner .home-banner-text h1 {
  font-size: 6rem;
}
.home .carousel-indicators [data-bs-target] {
  background-color: var(--bg-color);
  border-radius: 50%;
  width: 17px;
  height: 17px;
}
.home .carousel-control-next,
.home .carousel-control-prev {
  /* background: transparent; */
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-danger);
}
.counter {
  background-color: var(--bg-color);
  padding: 2.5rem 0;
}
.counter p {
  color: #ffffff;
  text-transform: uppercase;
}
.counter h2 {
  color: #ffffff;
  text-transform: uppercase;
}

/* Paralex */
.book-food {
  width: 100%;
  background: url(paralax.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 71.9125px;
  padding: 4.375rem 0;
}
#service span {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
#service .section_head {
  margin-bottom: 60px;
}
#service .section_head h4 {
  position: relative;
  padding: 0;
  color: var(--bg-color);
  line-height: 1;
  letter-spacing: 0.3px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  margin-bottom: 30px;
}
#service .section_head h4::before {   
  content: "";
  width: 60px;
  height: 3px;
  background: #f91942;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#service .section_head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  color: #2f2f2f;
}
#service .section_head p {
  color: #818181;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
.item {
  background: #fff;
  text-align: center;
  padding: 30px 25px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  margin-bottom: 30px;
  border: 5px solid rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.item:hover {
  background: #f91942;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.item:hover .item,
.item:hover span.icon {
  background: #fff;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.item:hover h5,
.item:hover p {
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.item .icon {
  font-size: 40px;
  margin-bottom: 25px;
  color: #f91942;
  width: 90px;
  height: 90px;
  line-height: 96px;
  border-radius: 50px;
}
.item .feature_box_col_one {
  background: rgba(247, 298, 5, 0.2);
  color: #f91942;
}
.item .feature_box_col_two {
  background: rgba(146, 39, 255, 0.15);
  color: #f91942;
}
.item .feature_box_col_three {
  background: rgba(0, 147, 38, 0.15);
  color: #f91942;
}
.item .feature_box_col_four {
  background: rgba(0, 108, 255, 0.15);
  color: #f91942;
}
.item p {
  font-size: 15px;
  line-height: 16px;
}
.item h5 {
  font-size: 20px;
  color: #2f2f2f;
}
.button a {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  color: #fff;
  background-color: #f91942;
  padding: 0.438rem 0.75rem;
  border-radius: 0.357rem;
  -webkit-border-radius: 0.357rem;
  -moz-border-radius: 0.357rem;
  -ms-border-radius: 0.357rem;
  -o-border-radius: 0.357rem;
  font-size: 1.125rem;
  box-shadow: rgba(0, 0, 0, 0.15);
}
