:root {
  /* ##### background-color  Variables ##### */
  --bg-danger: #8c52ff;
  --bg-white: #fff;
  --bg-light-white: #f5f5f5;

  /* ##### Text-color  Variables ##### */
  --primary-font: "Poppins", sans-serif;
  --text-white: #fff;
  --text-black: #121212;
  --text-danger: #8c52ff;
  --text-gray: #aaa;
  --text-dark-gray: #777;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* top navigation */
.top-navbar {
  width: 100%;
  height: 5vh;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.top-icons {
  margin-left: 45px;
}
.top-icons i {
  font-size: 20px;
  color: rgb(19, 3, 169);
  margin-left: 10px;
  cursor: pointer;
}

.other-links {
  margin-right: 33px;
}

.other-links i {
  font-size: 20px;
  color: rgb(19, 3, 169);
  margin-left: 10px;
  cursor: pointer;
}
btn-outline-success {
  color: aliceblue;
}
@media screen and (max-width: 500px) {
  .top-icons {
    margin-left: 30px;
  }

  .top-icons i {
    font-size: 15px;
  }
}
.other-links i {
  font-size: 15px;
}
@media screen and (max-width: 350px) {
  .top-icons {
    margin-left: 10px;
  }

  .top-icons i {
    font-size: 10px;
  }
  .other-links i {
    font-size: 10px;
  }
  button {
    height: 3vh;
    font-size: 5px;
  }
}

/* home section */
.home-section {
  width: 100%;
  height: 10vh;
  background-color: #a9a9a926;
}
#nlogo {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: white;
}

#navbar {
  /* background-color: #4747dd; */
  background: linear-gradient( 180deg, #2832bd 90%, rgb(235, 218, 218) 100%) repeat-x !important;
  font-size: 16px;
  
}
#navbar .nav-link {
  color: white;
  margin-left: 5px;
  transition: 0.5s ease;
}
#navbar .nav-link:hover {
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.dropdown li a {
  color: white;
}

#search-btn {
  color: white;
}
/* #search-icon {
  font-size: 20px;
  margin-top: 8px;
  color: white;
} */
.search-butt {
  background-color: #ffffff;
  border: none;
  position: relative;
  margin-right: 15px;
}
#search-box {
  border-radius: 25px;
}

/* form box */
#formbox {
  background-color: rgb(255, 255, 255);
  width: 380px;
  border-radius: 25px;
}
#formbox input {
  border: none;
  border-radius: 25px;
  outline: none;
}

#formbox input:focus {
  background-color: rgb(246, 242, 242);

  box-shadow: none;
}


/* Cards Tops */
#top-cards{
  
 
  margin-top:10px;
}
 #top-cards button{
  transition: 0.5s ease;
  transform: scale(0.8);
 
}



/* banner */

.banner{
  width: 100%;
  height: 60vh;
  margin-top: 50px;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(./ancient-gd05e0fde5_1280.jpg);
  /* background-repeat: no-repeat ; */
  
}
.banner .content{
  text-align: center;
  padding-top: 100px;
}


